body {
    min-height: 100vh;
    background-color: #edf2f8;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: repeat(5, minmax(auto, 240px));
    grid-template-rows: repeat(auto-fill, fit-content);
    gap: 30px;
    margin-right: 15px;
    margin-left: 15px;
    width: 1150px;
}

h1 {
    font-size: 10px;
}

.card {
    border-radius: 5px;
    position: relative;
    -webkit-box-shadow: 20px 13px 53px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 20px 13px 53px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 20px 13px 53px -20px rgba(0, 0, 0, 0.75);
}

.card__content span {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
}

.card__content p {
    margin-top: 10px;
    padding-bottom: 20px;
}

.card__wrapper {
    margin: 20px 25px 0 25px;
}

.card:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #733fc8;
}

.card:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #49556b;
}

.card:nth-child(3) {
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #ffffff;
}

.card:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #ffffff;
}

.card:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 5;
    background-color: #18202d;
}

.card__image img {
    border-radius: 50%;
    width: 100%;
}

.card__image {
    width: 35px;
}

.card__profile {
    position: relative;
}

.card__username {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 40px;
    font-size: 9px;
    width: 200px;
}

.card__username h2 {
    font-size: 10px;
    color: #95a2b5;
}

.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(5) {
    color: #ffffff;
}

img.quotation {
    position: absolute;
    top: 0%;
    left: 75%;
    transform: translateX(-25%);
    z-index: 1;
}

.card__content span {
    position: relative;
    z-index: 2;
}


@media (max-width: 900px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15px 12% 15px 12%;
    }
}

@media (max-width: 500px) {
    main {
        margin: 15px;
    }
}